<head>
  <title>bushwick</title>
</head>

<body>
  <h1>WHATSGOOD- BUSHWICK</h1>

  {{> bwmain}}
</body>

<template name="bwmain">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  {{>bw_venue_view}}
  {{>bw_venue_paperbox}}
  {{>bw_venue_pinebox}}
</template>
<template name="bw_venue_view">
  <p>Venue name: {{name}}</p>
  <p>Date {{date}}</p>
  <p>Location: {{location}}</p>
  <p>Artiss: {{artists}}</p>
  <p>You've pressed the button {{counter}} times.</p>
</template>
<template name="bw_venue_paperbox">
  <p>Venue name: paperbox</p>
</template>
<template name="bw_venue_pinebox">
  <p>Venue name: pinebox</p>
</template>
